/*Header*/
#flex{
    display: flex;
    background: #B9A8A8;
}
#titul{
    margin-left: 700px;
    margin-top: 50px;
}
img{
    width: 100px;
    float: bottom;
}
h1{
    text-align: center;
}

/*index.php*/
#informacion{
    float: left;
}
#flex_index{
    display: flex;
    flex-wrap: nowrap;
    background: #76CEFF;
}
#flex_index > div{
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
}
.lista_submenu{
    background: deepskyblue;
    padding: 15px 32px;
}

.slider {
    width: 95%;
    margin: auto;
    overflow: hidden;
}
.slider ul {
    display: flex;
    padding: 0px;
    width: 400%;
    animation: canviImatge 15s infinite alternate linear;
}
.slider li {
    width: 100%;
    list-style: none;
}
.slider img {
    width: 75%;
}

/*Animacions de les imatges del index.php*/
@keyframes canviImatge {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

/*validacion*/
#flex_ticket{
    display: flex;
    justify-content: center;
}
#ticket{
    margin-right: 100px;
}
label {
    display: block;
    width: 200px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
}
.texto_validacion {
    display: block;
    margin-top: 10px;
    font-size: 20px;
}
.botone_validacion {
    margin-top: 20px;
}
.error{
    color: red;
}

/*footer*/
#imp{
    flex-wrap: wrap;
    display: flex;
    background-color: #B9A8A8;
    justify-content: center;
    padding-top: 20px;
    padding-left: 0%;
    margin-left: 0%;
    margin-top: 20px;
    padding: 20px;
}
#one{
    background-color: #B9A8A8;
    word-wrap: break-word;
    width: 200px;
    height: 200px;
    padding: 20px;

}
#dos{
    flex-direction: column
}
#tres{
    background-color: #B9A8A8;
    width: 200px;
    height: 50px;
}
#divimg{
    background-color: #B9A8A8;
    height: 200px;
    width: 200px;
    padding: 20px;

}

.contError {
    margin: 10px;
}